{% extends 'loginbase.html' %}
{% load static %}

{% block content %}

<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" method="POST">
                                        {% csrf_token %}
				<span class="login100-form-title p-b-37">
					More Details
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username ">
 
					{{form.Shoplocation}}
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					{{form.PhoneNumber}}
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					{{form.Description}}
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Next
					</button>
				</div>

				

				

			</form>

			
		</div>
	</div>
{% endblock content %}